<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
    <head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{{! Page Meta }}
	<title>{{meta_title}}</title>
    {{! Styles'n'Scripts }}
    <link rel="stylesheet" id="less-style-css" href="{{asset "css/screen.css"}}" type="text/css" media="all">
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
    </head>
    <body class="home blog">
        <header id="masthead" class="site-header" role="banner">
	        <div class="container">
            <div class="gravatar">
                <img alt="" src="{{@blog.logo}}" class="avatar avatar-100 photo" height="100" >
                </div>
		    <div id="brand">
                <h1 class="site-title"><a href="{{@blog.url}}" title="Less" rel="home">{{@blog.title}}</a> — <span>{{@blog.description}}</span></h1>
		    </div>
            <nav role="navigation" class="site-navigation main-navigation">
		        <div class="menu-main-nav-container">
                    <ul id="menu-main-nav" class="menu">
                        <li><strong><a href="http://www.leoadhemartan.com/about-me/">Bio</a></strong></li>
                        <li><strong><a href="http://www.leoadhemartan.com/contact-me/">Contact</a></strong></li>         
                    </ul>
                </div>
            </nav>
            <div class="clear"></div>
	        </div>
        </header>
    
    {{! Everything else gets inserted here }}
    {{{body}}}
	
    <footer class="site-footer" role="contentinfo">
	    <div class="site-info container">
		    <p>&copy; {{date format="YYYY"}}  Copyright <a href="{{@blog.url}}">{{@blog.title}}</a>. This <a href="http://ghost.org/">Ghost Blog</a> is hosted on <a href="https://www.digitalocean.com/?refcode=2dcd4c1bb8d0">Digital Ocean.</p>
        </div>
    </footer>
    <script type="text/javascript" src="{{asset "js/jquery.js"}}"></script>
    </body>
</html>